***ORIGINAL REQUIREMENTS***
1. People aren't bringing tools back so tools aren't there when needed
2. Someone comes in wanting 15 things, has 14
3.  Identify tools need more of
4.  Checked out for a week at a time
5. Charge monthly fee to use them
6.  Request checkout for longer time
7. Tool sets
8. Flat fee
9. Break tool (reasonably) they replace.  Lost - user pays
10. Ways to identify users and what they have
11. Tools to be replaced, requested but not there
12. List of tools and categories
13. Way to notify customers when tools are due
14. Walk in or request online
15. Joe - check out and in, bad and missing, view user accounts
16. Monthly limit on rentals - (don't worry about it now)
17. Have membership card with number and picture
18. Wants to audit tool
19. People to have access to tools
20. Database of users/tools/checkout system
21. Keep track of number of times checked out
22. Reports
23. Tell them to buy better hardware




***CUCPV REQUIREMENTS***
1. Way to keep track of where all tools are.
2. Way to prevent race conditions in checkout process
3. Identify which tools we need more of
4. Customers should only be able to check out tools for a week at time
5. Way to charge/collect payment from customers (in the form of a monthly payment)
6. Way to allow customers to extend current reservation
7. List of and way for customers to check out tool sets
8. Monthly fees are not affected by number of tools checked out
9. Way to charge users for lost tools, and order new tools when broken reasonably
10. Way to identify users, as well as who currently has what
11. Way to keep track of requests for tools that are broken/requested but not available
12. List of tools and tool sets (by category)
13. Way to notify customers when tools are due
14. Way for customers to request either online or in-person
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
16. Way to limit number of rentals - (currently not necessary)
17. Keep track of membership cards, linked with member id number and picture
18. Way to audit a tool (see when/who it has been checked out by)
19. Main priority is for users to have access to tools
20. Create a way to keep track of users/tools/checkout system
21. Keep track of number of times items have been requested/checked out
22. Way to view reports on users/tools/finance.
23. Inform company what hardware upgrades will be needed to facilitate changes




***MOSCOW REPORT*** (from original requirements)
Must:
4,5,10,11,12,14,20
Should:
3,9,13,17,21,23
Could:
6,7,15,16,18,22
Won't:




***TEAM REQUIREMENTS***
Application language -> C#
Database -> SQL, AWS
Frontend -> Javascript, HTML, CSS
Git -> Github
Diagram -> LucidChart
Process Manager -> TBD




