<html lang="en" dir="ltr">
<head>
<title>Dan's Tool Rentals</title>
<meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Toolshop/layout.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'Toolshop/favicon.ico' %}"/>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="{% url 'Toolshop:index' %}">Dan's Tool Shop
      <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"></a></h1>
    </div>
      <fieldset>
        <div style="padding-right: 0px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:account' %}">Account</a> </button>
        </div>
        <div style="padding-right: 110px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:reserve' %}">Reserve a Tool</a> </button>
        </div>
      </fieldset>
      </fieldset>

    <nav>
      <ul>
        <li><a href="{% url 'Toolshop:index' %}">Home</a></li>
        <li><a href="{% url 'Toolshop:tools' %}">Our Tools</a></li>
        <li><a href="{% url 'Toolshop:projects' %}">Our Projects</a></li>
        <li><a href="{% url 'Toolshop:contact' %}">Contact Us!</a></li>
        <li><a href="{% url 'Toolshop:reports_main' %}">Employee Portal</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <div class="container" style="border:1px solid #ccc">
        <!-- content body -->
        <!-- main content -->
        <div style="text-align:center"><h2>User Login</h2></div>
        <hr>
        <br>
        <div style="text-align:center">
          <form method="post" id="form_login" class="username">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
          </form>
        </div>
        <div id="homepage">
          Note: Some pages may require employee authorization to proceed.


        </div>
        <!-- / content body -->
    </div>
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">DansToolShop.com<br><img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"> </a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
