.title-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: black;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	background: rgb(60,60,210);
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.menu_bar {
	font-family: 'helvetica neue', Fantasy, sans-serif;
	color: black;
	text-transform: capitalize;
	padding: 0px 10px;
	margin: 10px;
	cursor: pointer;
	height: 50px;
	background: rgb(200, 20, 20);
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
}

#menu_list {
	text-align: justify;
	min-width: 500px;
}
#menu_list li {
	display: inline-block;
}
#menu_list a {
	color: black;
}
#menu_list a:hover {
	color: rgb(20, 20, 150);
}
#menu_list:after{
	content: '';
	display: inline-block;
	width: 100%
}

.main_text {
	
}

.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}

.red {
	border-color: rgb(255,0,0);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
	border-color: rgb(255,255,0);
	background:   rgb(180,180,60);
	box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
	border-color: rgb(0,0,255);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.black {
    border-color: rgb(0,0,0);
    background:   rgb(75,75,75);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}
.boxes {
	border-color: rgb(0,0,0);
	background:   rgb(255,255,255);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
	font-family: 'helvetica neue', helvetica, sans-serif;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}


