<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Dan's Tool Rentals</title>
<meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Toolshop/layout.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'Toolshop/favicon.ico' %}"/>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="{% url 'Toolshop:index' %}">Dan's Tool Shop
      <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"></a></h1>
    </div>
      <fieldset>
        <div style="padding-right: 0px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:account' %}">Account</a> </button>
        </div>
        <div style="padding-right: 110px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:reserve' %}">Reserve a Tool</a> </button>
        </div>
      </fieldset>

    <nav>
      <ul>
        <li><a href="{% url 'Toolshop:index' %}">Home</a></li>
        <li><a href="{% url 'Toolshop:tools' %}">Our Tools</a></li>
        <li><a href="{% url 'Toolshop:projects' %}">Our Projects</a></li>
        <li><a href="{% url 'Toolshop:contact' %}">Contact Us!</a></li>
        <li><a href="{% url 'Toolshop:reports_main' %}">Employee Portal</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container">
    <div class="container" style="border:1px solid #ccc">
      <div class="container">
        <h1>Account Information</h1>
        <p> Username: {{user.username}}</p>
        <p> First Name: {{user.first_name}}</p>
        <p> Last Name: {{user.last_name}}</p>
        <p> Address: {{user.customerinfo.address}}</p>
        <p> Phone Number: {{user.customerinfo.phone_num}}</p>
        <p> Email: {{user.email}}</p>
        {% if tools_list %}
          <table cellspacing="10">
            <tr>
              <th>Currently Checked Out:</th>
              <th>Return By:</th>
            </tr>
              {% for tool in tools_list %}
            <tr>
              <td>{{tool.name}}</td>
              <td>{{tool.get_due_date}}</td>
            </tr>
              {% endfor %}
          </table>
		{% else %}
    		<p>No tools currently checked out.</p>
		{% endif %}
        <p>Outstanding Balance: ${{user.customerinfo.current_outstanding_balance}}</p>
      </div>
      <hr>
      <form action="{% url 'Toolshop:update'%}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <div class="container">
          <h1>Update Account Information</h1>
          <br>
          <br>
          <label for="firstName"><b>First Name</b></label>
          <input type="text" placeholder="First Name" name="firstName" required class="text-input">
          <br>
          <br>

          <label for="lastName"><b>Last Name</b></label>
          <input type="text" placeholder="Last Name" name="lastName" required class="text-input">
          <br>
          <br>

          <label for="address"><b>Address</b></label>
          <input type="text" placeholder="Address" name="address" required class="text-input">
          <br>
          <br>

          <label for="phone"><b>Phone Number</b></label>
          <input type="text" placeholder="Phone Number" name="phone" required class="text-input">
          <br>
          <br>

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required class="text-input">
          <br>
          <br>

          <label for="psw"><b>Change Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required class="text-input">
          <br>
          <br>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required class="text-input">
          <br>
          <br>
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#"> DansToolShop.com <br> <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"> </a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
  <script src="{% static 'Toolshop/script.js' %}"></script>
</html>
