<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Dan's Tool Rentals</title>
<meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Toolshop/layout.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'Toolshop/favicon.ico' %}"/>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="{% url 'Toolshop:index' %}">Dan's Employee Portal
      <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"></a></h1>
    </div>

    <nav>
      <ul>
        <li><a href="{% url 'Toolshop:index' %}">Main Website</a></li>
        <li><a href="{% url 'Toolshop:reports_users' %}">Users</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='all' %}">Tools</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='checked_out' %}">Tools (Checked out)</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='popularity' %}">Tools (Popularity)</a></li>
        <li><a href="{% url 'Toolshop:check_in' %}">Check Tools In</a></li>
        <li><a href="{% url 'Toolshop:pay_fee_page' %}">Pay Fees</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <!-- main content -->
    <div id="homepage">
      <h1> Fees Page:</h1>
      <p>Once a user has paid in person, click on the link by their name to mark fees as paid.</p>
      {% if users_list %}
		<table cellspacing="20">
          <tr>
            <th>Username:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Fees Due: </th>
            <th>This Period Paid? </th>
          </tr>
			{% for user in users_list %}
          <tr>
            <td><a href="{% url 'Toolshop:specific_user' user.id %}">{{user.username}}</a></td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            {% if user.customerinfo.current_outstanding_balance > 0 %}
              <td style="color:red;">
                <a href="{% url 'Toolshop:pay_fee' user.id %}">{{user.customerinfo.current_outstanding_balance}}</a>
              </td>
            {% else %}
              <td>
                {{user.customerinfo.current_outstanding_balance}}
              </td>
            {% endif %}
            <td>
              {% if user.customerinfo.this_period_paid %}
              Yes.
              {% else %}
              <a href="{% url 'Toolshop:pay_period' user.id %}">No.</a>
              {% endif %}
            </td>
          </tr>
			{% endfor %}
		</table>
		{% else %}
    		<p>No users found.</p>
		{% endif %}
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">DansToolShop.com<br><img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"> </a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
  <script src="{% static 'Toolshop/script.js' %}"></script>
</html>
