<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Dan's Tool Rentals</title>
<meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Toolshop/layout.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'Toolshop/favicon.ico' %}"/>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="{% url 'Toolshop:index' %}">Dan's Employee Portal
      <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"></a></h1>
    </div>

    <nav>
      <ul>
        <li><a href="{% url 'Toolshop:index' %}">Main Website</a></li>
        <li><a href="{% url 'Toolshop:reports_users' %}">Users</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='all' %}">Tools</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='checked_out' %}">Tools (Checked out)</a></li>
        <li><a href="{% url 'Toolshop:reports_tools' sort_by='popularity' %}">Tools (Popularity)</a></li>
        <li><a href="{% url 'Toolshop:check_in' %}">Check Tools In</a></li>
        <li><a href="{% url 'Toolshop:pay_fee_page' %}">Pay Fees</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <!-- main content -->
    <div id="homepage">
      {% if user %}
      <h1> {{user.username}}</h1>
      <table cellspacing="20">
        <tr>
          <td>Name: </td>
          <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
        <tr>
          <td>Email: </td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Address: </td>
          <td>
            {% if user.customerinfo.is_address_listed %}
            {{user.customerinfo.address}}
            {% else %}
            Not listed.
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Phone Number: </td>
          <td>{{user.customerinfo.phone_num}}</td>
        </tr>
        <tr>
          <td>Date Joined: </td>
          <td>
            {{user.date_joined}}
          </td>
      </table>
      <h2> Account Status: </h2>
      <table cellspacing="20">
        <tr>
          <td>Is Staff Member: </td>
          <td>
            {% if user.is_staff %}
            Yes.
            {% else %}
            No.
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>This Period Paid? </td>
          <td>
            {% if user.customerinfo.this_period_paid %}
            Yes.
            {% else %}
            No.
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Date Paid Until? </td>
          <td>
            {% if user.customerinfo.this_period_paid %}
            {{user.customerinfo.date_paid_until}}
            {% else %}
            Not currently subscribed.
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Number Currently Checked Out: </td>
          <td>
            {{user.customerinfo.num_currently_checked_out}}
          </td>
        </tr>
        <tr>
          <td>Current Outstanding Balance: </td>
          {% if user.customerinfo.current_outstanding_balance > 0 %}
          <td style="color:red;">
            {{user.customerinfo.current_outstanding_balance}}
          </td>
          {% else %}
          <td>
            {{user.customerinfo.current_outstanding_balance}}
          </td>
          {% endif %}
        </tr>
      </table>


      {% else %}
        <p>No user found.  Please try again</p>
      {% endif %}
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">DansToolShop.com<br><img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"> </a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
  <script src="{% static 'Toolshop/script.js' %}"></script>
</html>
