<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Dan's Tool Rentals</title>
<meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Toolshop/layout.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'Toolshop/favicon.ico' %}"/>

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="{% url 'Toolshop:index' %}">Dan's Tool Shop
      <img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"></a></h1>
    </div>
      <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <fieldset>
        <div style="padding-right: 0px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:account' %}">Account</a> </button>
        </div>
        <div style="padding-right: 110px">
          <button class="menuButtons" style="height: 29.4px" "font:bold;"> <a href="{% url 'Toolshop:reserve' %}">Reserve a Tool</a> </button>
        </div>
      </fieldset>
      </fieldset>
    </form>

    <nav>
      <ul>
        <li><a href="{% url 'Toolshop:index' %}">Home</a></li>
        <li><a href="{% url 'Toolshop:tools' %}">Our Tools</a></li>
        <li><a href="{% url 'Toolshop:projects' %}">Our Projects</a></li>
        <li><a href="{% url 'Toolshop:contact' %}">Contact Us!</a></li>
      </ul>
    </nav>
  </header>
</div>
  <div class="wrapper row2">
  <div id="container" class="clear">

    <section id="gallery" class="clear">
      <figure>
        <header>Our Wonderful Selection of Tools!</header>
        <ul>
          <li><a onclick="displayTools(bike_tools)">Bike Tools</a></li>
          <li><a onclick="displayTools(bike_tools)">Carpentry & Woodworking</a></li>
          <li><a onclick="displayTools(bike_tools)">Carpet</a></li>
          <li><a onclick="displayTools(bike_tools)">Cement</a></li>
          <li><a onclick="displayTools(bike_tools)">Drywall & Masonry</a></li>
          <li><a onclick="displayTools(bike_tools)">Electrical & Mechanical</a></li>
          <li><a onclick="displayTools(bike_tools)">Garden</a></li>
          <li><a onclick="displayTools(bike_tools)">Power</a></li>
          <li><a onclick="displayTools(bike_tools)">Kitchen</a></li>
          <li><a onclick="displayTools(bike_tools)">Other</a></li>

        </ul>

        <div id="EDIT_ME_IN_THE_JAVASCRIPT">

        </div>

        <ul>
          <!-- TODO: Rewrite in javascript -->
          <!-- <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill3.jpg" alt=""></a></li>
          <li class="last"><a href="#"><img src="images/drill3.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill3.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li class="last"><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill3.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill2.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill1.jpg" alt=""></a></li>
          <li><a href="#"><img src="images/drill3.jpg" alt=""></a></li>
          <li class="last"><a href="#"><img src="images/drill2.jpg" alt=""></a></li> -->
        </ul>
        <figcaption>Description for the tools</figcaption>
      </figure>
    </section>

  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#"> DansToolShop.com <br><img src="{% static 'Toolshop/logo.jpg' %}" style="width:15%"> </a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
<script src="script.js"></script>
</html>
