GROUP: 
-Brian Callister
-Cheston Gray
-Josh Webster
-Katelynn Call

***OVERVIEW***

This project aims to build a system that facilitates a library-like loaning system for tools.

The tool system will allow users to reserve tools through our website, while also providing them with specific instructions and information related to the transaction.  The underlying database will keep track of customer accounts, lists of available tools and toolsets, and a superuser account that will allow employees to audit both tools and customers.



***ORIGINAL REQUIREMENTS***

1. People aren't bringing tools back so tools aren't there when needed
2. Someone comes in wanting 15 things, has 14
3.  Identify tools need more of
4.  Checked out for a week at a time
5. Charge monthly fee to use them
6.  Request checkout for longer time
7. Tool sets
8. Flat fee
9. Break tool (reasonably) they replace.  Lost - user pays
10. Ways to identify users and what they have
11. Tools to be replaced, requested but not there
12. List of tools and categories
13. Way to notify customers when tools are due
14. Walk in or request online
15. Joe - check out and in, bad and missing, view user accounts
16. Monthly limit on rentals - (don't worry about it now)
17. Have membership card with number and picture
18. Wants to audit tool
19. People to have access to tools
20. Database of users/tools/checkout system
21. Keep track of number of times checked out
22. Reports
23. Tell them to buy better hardware



***CUCPV REQUIREMENTS***

1. Way to keep track of where all tools are.
2. Way to prevent race conditions in checkout process
3. Identify which tools we need more of
4. Customers should only be able to check out tools for a week at time
5. Way to charge/collect payment from customers (in the form of a monthly payment)
6. Way to allow customers to extend current reservation
7. List of and way for customers to check out tool sets
8. Monthly fees are not affected by number of tools checked out
9. Way to charge users for lost tools, and order new tools when broken reasonably
10. Way to identify users, as well as who currently has what
11. Way to keep track of requests for tools that are broken/requested but not available
12. List of tools and tool sets (by category)
13. Way to notify customers when tools are due
14. Way for customers to request either online or in-person
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
16. Way to limit number of rentals - (currently not necessary)
17. Keep track of membership cards, linked with member id number and picture
18. Way to audit a tool (see when/who it has been checked out by)
19. Main priority is for users to have access to tools
20. Create a way to keep track of users/tools/checkout system
21. Keep track of number of times items have been requested/checked out
22. Way to view reports on users/tools/finance.
23. Inform company what hardware upgrades will be needed to facilitate changes



***MOSCOW REPORT*** (from original requirements)

Must:
4. Customers should only be able to check out tools for a week at time
5. Way to charge/collect payment from customers (in the form of a monthly payment)
10. Way to identify users, as well as who currently has what
11. Way to keep track of requests for tools that are broken/requested but not available
12. List of tools and tool sets (by category)
14. Way for customers to request either online or in-person
20. Create a way to keep track of users/tools/checkout system

Should:
3. Identify which tools we need more of
9. Way to charge users for lost tools, and order new tools when broken reasonably
13. Way to notify customers when tools are due
17. Keep track of membership cards, linked with member id number and picture
21. Keep track of number of times items have been requested/checked out
23. Inform company what hardware upgrades will be needed to facilitate changes

Could:
1. Way to keep track of where all tools are.
2. Way to prevent race conditions in checkout process
6. Way to allow customers to extend current reservation
7. List of and way for customers to check out tool sets
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
16. Way to limit number of rentals - (currently not necessary)
18. Way to audit a tool (see when/who it has been checked out by)
22. Way to view reports on users/tools/finance.

Won't:
8. Monthly fees are not affected by number of tools checked out



***REQUIREMENTS BY AUDIENCE***

Business:
1. Way to keep track of where all tools are.
3. Identify which tools we need more of
5. Way to charge/collect payment from customers (in the form of a monthly payment)
9. Way to charge users for lost tools, and order new tools when broken reasonably
10. Way to identify users, as well as who currently has what
13. Way to notify customers when tools are due
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
17. Keep track of membership cards, linked with member id number and picture
18. Way to audit a tool (see when/who it has been checked out by)
19. Main priority is for users to have access to tools
21. Keep track of number of times items have been requested/checked out

User:
6. Way to allow customers to extend current reservation
7. List of and way for customers to check out tool sets
11. Way to keep track of requests for tools that are broken/requested but not available
14. Way for customers to request either online or in-person
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
19. Main priority is for users to have access to tools

Funtional:
1. Way to keep track of where all tools are.
3. Identify which tools we need more of
7. List of and way for customers to check out tool sets
10. Way to identify users, as well as who currently has what
11. Way to keep track of requests for tools that are broken/requested but not available
12. List of tools and tool sets (by category)
13. Way to notify customers when tools are due
14. Way for customers to request either online or in-person
15. Way for employees to check tools in/out, mark as bad/missing, and view user accounts
16. Way to limit number of rentals - (currently not necessary)
17. Keep track of membership cards, linked with member id number and picture
18. Way to audit a tool (see when/who it has been checked out by)
20. Create a way to keep track of users/tools/checkout system
21. Keep track of number of times items have been requested/checked out
22. Way to view reports on users/tools/finance.

Nonfunctional:
2. Way to prevent race conditions in checkout process
4. Customers should only be able to check out tools for a week at time

Implementation:
23. Inform company what hardware upgrades will be needed to facilitate changes



***CONCLUSION***

As part of our first sprint, we will continue to gather requirements, create use-case diagrams, and organize our data so that we can plan consistantly with the customer's wants and needs in mind.

Our next sprints will include implementation and testing phases, during which this document will become an important reference for validating our work with the customer's needs.

Currently our plan is to create a web-based service through which both customers and employees can easily find information, reserve tools, and perform necessary operations.


***TEAM REQUIREMENTS***

Application language -> C#
Database -> SQL, AWS
Frontend -> Javascript, HTML, CSS
Git -> Github
Diagram -> LucidChart
Process Manager -> TBD




